.testimony {
  padding-block-start: 40px;
  padding-block-end: 80px;
}

.testimony-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.testimony-image {
  text-align: center;
}

.testimony-image img {
  max-inline-size: 100%;
}


@media screen and (min-width: 768px) {
    
  .testimony {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-block-start: 80px;
    padding-block-end: 80px;
  }
  .testimony-description {
    flex: 1;
  }

  .test{
    order: 2;
    flex: 1;
    text-align: center;
    border: 2px red;
  }
 /* no me funcionaba el nth*/
  
}
